html,
:root {
    --main-bg-color: #ffffff;
    --text-color: #000000;
    --text1-color: #bdd8d0;
    --text2-color: #000000;
    --text3-color:  #a9a9a9;
    --border-color:rgb(163, 154, 154);
    
}

.container{
    display: flex;
    padding: 6rem;
}
.heading{
    color: var(--text-color);
    font-weight: 500;
    padding: 0.5rem 0;
    border-bottom: 1px solid var(--border-color);
    border-top: 1px solid var(--border-color);

}
.header img {

    border-radius: 50%;
    width: 200px;
    height: 200px;
    margin-left: 3.5rem;
}

body {
    background-color: var(--main-bg-color);
    display: inline-block;
}

.part1 {
    display: flex;
    overflow: hidden;
    margin: 4rem;
}
/* Resume left side section */
.section1 {
    width: 30%;
    padding-right: 4rem;
}

.icon {
    width: 1.5rem;
    padding: 0rem 1rem;
    border-right: 1px solid rgb(163, 154, 154);
}

.indicator {
    width: 0.5rem;
    padding-left: 1rem;
}

ul {
    list-style-type: none;
    padding-top: .7rem;
    font-size: 1rem;
    line-height: 2rem;
    color:var(--text3-color);
    padding-left: 0.5rem;
}
.basics li{
    display: flex;
    width: 100%;
    align-items: center;
    padding-bottom: 1rem;
}
.basics .text{
    line-height: 1.2rem;
    width: 80%;
    text-align: right;
    padding-left: 1rem;
    /* font-family: Arial, Helvetica, sans-serif; */
}


.icon-container {
    width: 20%;

}

/* Resume right side section */
.section2 {
    width: 70%;
    float: right;
    padding-left: 1rem;
  
}

.content {
    color: var(--text2-color);
    text-align: left;
}

.text1 {
    color: var(--text1-color);
    text-align: left;
    font-size: 1.4rem;
    padding-top:none;
}

.date {
    float: right;
    margin-bottom: 2rem;
}
/* formatting Tag */
h1 {
    color: var(--text-color);
    text-align: center;
}

h3 {
    color: var(--text2-color);
    text-align: center;
}
p {
    /* font-family: Arial, Helvetica, sans-serif; */
    font-size: 1rem;
    line-height: 1rem;
}

  
  /* Place the container to the right */
  .right {
    left: 50%;
  }
  #experiences{
    padding-left: 4rem;
    border-left: 3px solid black;
  }
  #experiences div{
      position: relative;
  }

  #experiences div::after {
    content: '';
    position: absolute;
    width: 1rem;
    height: 1rem;
    left: -4.58rem;
    background-color: black;
    top: 0;
    border-radius: 50%;
    z-index: 1;
  }