:root {
  --main-bg-color: #ffffff;
  --text-color: #000000;
  --text1-color: #bdd8d0;
  --text2-color: #000000;
  --text3-color: #412757;
  background-color: #dcdcdc8c;

}




/* Text formating classes */
.headings {
  border-bottom: 1px solid #8080806b;
  border-top: 1px solid #8080806b;
  border-width: 100%;
  padding: 0.8rem 0 0.8rem 0;
  margin-left: 3rem;
  grid-column: span 2;

}

.title {
  text-align: center;
  color: var(--text-color);
  margin: 1rem;
  grid-column: span 2;

}

#content {
  color: var(--text3-color);
  font-size: 20px;
}

.grid-container {
  display: grid;
  grid-template-columns: 20rem auto;
  background-color: var(--main-bg-color);
  margin: 4rem;
  padding: 2rem 5rem;

}

.grid-item {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 0.5rem 1rem 1rem 6rem;
  font-size: 30px;
  text-align: center;

}


/* Style inputs, select elements and textareas */
input[type=text],
textarea,
input[type=number] {
  width: 70%;
  padding: 0.7rem;
  outline: none;
  border: 1px ridge rgba(228, 222, 222, 0.767);
  border-radius: 3px;
  box-sizing: border-box;
  resize: vertical;
  color: var(--text-color);
  background-color: lightgray;
}


/* style the button  alignment*/
#btn-container {
 text-align: center;
  grid-column: span 2;
  border-top: 1px solid #8080806b;
}

/* style  the Cancel Button */
.cancel-button {
  width: 10%;
  background-color: #e7e7e7;
  border: none;
  color: black;
  padding: 1rem 1rem 1rem 1rem;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 20px 40px 20px 0;
}

/* style  the Submit Button */
.submit-button {
  width: 10%;
  background-color: #555555;
  border: none;
  color: white;
  padding: 1rem 1rem 1rem 1rem;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-top: 20px;

}

/* style  the Cancel button Hover */
.cancel-button:hover {
  background-color: lightslategray;
  color: red;
}

/* style  the Submit button Hover */
.submit-button:hover {
  background-color: lightskyblue;
  color: blue;
}

* {
  margin: 0px;
  padding: 0px;
}



.input-box {
  display:inline block;
  /* flex-direction: row; */
  /* justify-content: flex-start; */
  border: 1px solid black;
}

.input-box ul {
  display:flex; 
   flex-direction: row; 
  justify-content: flex-start; 
  list-style-type: none;
  /* flex-wrap: wrap; */
}

.input-box li {
  border: 1px solid black; 
  border-radius: 1px; 
  padding: 10px;
  margin: 2px;
  /* width: 100px; */
  color: var(--text3-color);
  font-size: 20px;
}

.input-box input {
  flex: 1 1 auto;
  align-self: flex-start;
}

/* Responsive layout - when the screen is less than 600px wide,
 make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {

  .col-25,
  .col-75,
  input[type=submit] {
    width: 100%;
    margin-top: 0;
  }
}