:root {
  --main-bg-color: #ffffff;
  --text-color: #000000;
  --text1-color: #bdd8d0;
  --text2-color: #000000;
  --text3-color: #412757;
  background-color: #dcdcdc8c;

}


.container {
  margin: 5rem;
  padding: 2rem 5rem;
  background-color: var(--main-bg-color);
  }

  .headings {
    border-bottom: 1px solid #8080806b;
    padding-bottom: 0.5rem;
  }
  
  .btn-container{
    margin: auto;
    text-align: center;
  }

/* Style inputs, select elements and textareas */
input[type=text],
textarea,
input[type=number] {
  width: 50%;
  padding: 1rem;
  outline:none;
  border: 1px ridge  rgba(228, 222, 222, 0.767); 
  border-radius: 3px; 
  box-sizing: border-box; 
  resize: vertical;
  color: var(--text-color);
  background-color: lightgray;
}

input[type=text1],
input[type=number1] {
  width: 100%;
  padding: 0.5rem;
  border: 1px ridge rgba(228, 222, 222, 0.473);
  border-radius: 2px;
  box-sizing: border-box;
  resize: vertical;
  color: var(--text-color);
}

/* Style the label to display next to the inputs */
label {
  padding: 1rem 1rem 1rem 0;
  display: inline-block;
}


/* Floating column for labels: 25% width */
.col-25 {
  float: left;
  width: 25%;
  margin-top: 6px;
  color: var(--text3-color);
}

/* Floating column for labels: 25% width */
.col-50 {
  float: left;
  width: 13%;
  margin-top: 6px;
  color: var(--text3-color);
}



/* Floating column for inputs: 75% width */
.col-75 {
  float: left;
  width: 75%;
  margin-top: 6px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

h1 {
  text-align: center;
  color: var(--text-color);
}



#content {
  color: var(--text3-color);
  font-size: 20px;
}



.button {
  width: 10%;
  background-color: #e7e7e7;
 border: none;
  color: black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 20px 40px 20px 0 ;
}
.button1 {
  width: 10%;
  background-color: #555555;
   border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-top: 20px;

}

.button:hover {
  background-color:lightslategray;
  color: red;
}
.button1:hover {
  background-color:lightskyblue;
  color: blue;
}
*{
  margin: 0px;
  padding: 0px;
}

.input-box{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  border: 1px solid black;
}

.input-box ul{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  list-style-type: none;
  flex-wrap: wrap;
}

.input-box li{
  border: 1px solid black;
  border-radius: 1px;
  padding: 10px;
  margin: 2px;
  width:100px;
}
.input-box input{
  flex: 1 1 auto;
  align-self: flex-start;
}

/* Responsive layout - when the screen is less than 600px wide,
 make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {

  .col-25,
  .col-75,
  input[type=submit] {
    width: 100%;
    margin-top: 0;
  }
}