:root {
  --main-bg-color: #ffffff;
  --text-color: #000000;
  --text1-color: #bdd8d0;
  --text2-color: #000000;
  --text3-color: #412757;
  background-color: #dcdcdc8c;

}




/* Text formating classes */
.headings {
  padding: 3rem 0 3rem 0;
  margin-left: 3rem;
  grid-column: span 2;
  border-bottom: 1px solid #ccc;
  -webkit-transition: 0.5s;
  transition: 0.5s;;

}

.title {
  text-align: center;
  color: var(--text-color);
  margin: 1rem;
  grid-column: span 2;

}

#content {
  color: var(--text3-color);
  font-size: 1.5rem;
  margin-top:1rem;
}
.content {
  color: var(--text3-color);
  font-size: 1rem;
  
}

.grid-container {
  display: grid;
  grid-template-columns: 20rem auto;
  background-color: var(--main-bg-color);
  margin: 4rem;
  padding: 2rem 5rem;
}

.grid-item {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 1rem 1rem 1rem 6rem;
   font-size:15px; 
  text-align:left;
}


/* Style inputs, select elements and textareas */
input[type=text],
textarea, input[type=number],input[type=date] {
  width: 70%;
  padding: 0.7rem;
  box-sizing: border-box;
  border: 3px solid #ccc;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  outline: none;
 box-sizing: border-box;
  resize: vertical;
  color: var(--text-color);
}
input[type=text]:focus {
  border: 3px solid #555;
}
input[type=number]:focus{
  border: 3px solid #555;
}
textarea:focus{
border: 3px solid #555;
}
/* style the button  alignment*/
#btn-container {
 text-align: center;
  grid-column: span 2;
  border-top: 1px solid #8080806b;
  margin-right:10rem;
}

/* style  the Cancel Button */
.cancel-button {
  width: 20%;
  background-color:lightgray;
  border: none;
  color: black;
  padding: 1rem 1rem 1rem 1rem;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 20px 40px 16px 0;
}

/* style  the Submit Button */
.submit-button {
  width: 20%;
  background-color:lightgray;
  border: none;
  color: black;
  padding: 1rem 1rem 1rem 1rem;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-top: 20px;

}

/* style  the Cancel button Hover */
.cancel-button:hover {
  background-color: darkgray;

}

/* style  the Submit button Hover */
.submit-button:hover {
  background-color:darkgray;
  
}

* {
  margin: 0px;
  padding: 0px;
}



.input-box {
  display:inline block;
  /* border: 1px solid black; */
}

.input-box ul {
  display:flex; 
   flex-direction: row; 
  justify-content: flex-start; 
  list-style-type: none;
}

.input-box li {
  border: 1px solid#ccc;  
  border-radius: 1px;  
  padding: 10px;
  margin: 2px;
  color: var(--text3-color);
  font-size: 1rem;
}

.input-box input {
  flex: 1 1 auto;
  align-self: flex-start;
}

/* Responsive layout - when the screen is less than 600px wide,
 make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {

  .col-25,
  .col-75,
  input[type=submit] {
    width: 100%;
    margin-top: 0;
  }
}